*{
    font-family: roboto;
}
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
}
.pg{
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
}
.ct{
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
}
#ct1{
	background-color: #99B898;
    background-image: url("cixi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#backpic2{
    background-image: url("shakazulu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
}

#backpic3{
    background-image: url("gandhi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;    
}
#titleback{
    display: inline-block;
    padding:60px;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    background-color: rgba(0,0,0,0.7);
    text-align: center;
}

#titleh1{
    font-size: 4em;
    position: relative;
    color:whiteSmoke;
}

#ct2{
	background-color: #FECEA8;
}
#ct3{
	background-color: #FF847C;
}
#ct4{
	background-color: #E84A5F;
}
#ct5{
	background-color: #2A363B;
}

h3{
    margin: 0;
    padding: 5px;
    font-size: 15px;
}

nav{
    margin-right:15px;
    padding: 0;
    float: right;
    right: 0;
    position:fixed;
    top: 50%;
  	transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
    z-index: 1;
}

a{
    border-radius: 50%;
    border: 2px solid white;
    background-color: whitesmoke;
    padding: 3px;
    display: block;
    margin: 14px auto;
    position: relative;
}
a:hover{
	background-color: transparent;
}
a:hover .tooltip{
	visibility: visible;
}

h1{
    margin: 0;
    padding: 5px;
}

.selected{
	background-color: transparent;
}

.tooltip{
    visibility: hidden;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 2.5px;
    position: absolute;
    z-index: 1;
    top: -7.5px;
    right: 220%;
}
.tooltip::after {
	content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}

#modals{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  z-index:2;
  background-color:rgba(0,0,0,0.5);
}

.modal{
  background-color: #EBEBEB;
  margin:auto;
  padding: 10px;
  z-index:100;
  width:350px;
  height:360px;
  border-radius:5px;
  z-index:10;
  display:none;
}

#clear2-btn{
  float:right;
}

#h2Style{
  margin:0;
  display: inline;
  color: #D3D3D3;
}

#h3{
  color:#8C8C8C;
}

#modalSetting{
  margin:0;
  color:#D3D3D3;
}
#line{
  border-top:1px solid #D3D3D3; 
}
#line2{
  border-top:1px solid #D3D3D3; 
  display: inline;
}